<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lecture 2</title>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/sample-controller.js"></script>

</head>
<body>
<h2>Lecture 2</h2>

<div ng-controller="SampleController">
        <h2>Costs</h2>
        <div ng-repeat="book in books | orderBy:'-cost'">
            <p>Name: {{book.name}}</p>
            <p>Cost: {{book.cost}}</p>
            <button ng-click="addToCart(book)">Add to Cart</button>
        </div>
        <h2>Total</h2>
        <p>Total of cart: {{total()}}</p>
</div>
</body>
</html>